<div class="row">
    <div class="col text-center">
        <div class="jumbotron">
            <h1><i class="fab fa-node-js fa-3x"></i></h1>
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple example of User authentication and User authorization using Passport - Local Strategy</p>
            <hr class="my-4">
            <a href="/users/register" class="btn btn-primary btn-block">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>
